<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C-and-C-Character-Creation</title>
</head>
<body>
    <header>
        <title>C&amp;C</title>
    </header>
    <h1>C&amp;C</h1>
    <hr>
    <h2>Login </h2>
    
    <form>
        <input type="text" placeholder="username">
        <input type="password" placeholder="password">
        <button>Login</button>
        <br>
        <label for="remember-me">Remember me</label>
        <input type="checkbox" id="checkbox">
        <label for="forgot-password">Forgot password?</label>
        <input type="checkbox" id="checkbox">
    </form>
   
    <h2>Create New Account</h2>
    <form>
        <label for="first-name">Name</label>
        <input id="first-name" type="text" placeholder="first name">
        <br>
        <label for="last-name">Last Name</label>
        <input id="last-name" type="text" placeholder="last name">
        <br>
        <label for="email">Email</label>
        <input id="email" type="email" placeholder="email">
        <br>
        <label for="password">Password</label>
        <input id="password" type="password" placeholder="password">
        <br>
        <button id="btn2">Sign In</button>
    </form>
    
    
</body>
</html>